doctype html
mixin item(title, url)
  li(class='navigation-item')
    a(href=url class=path == url ? "active" : "")=title

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      ul(class='navigation')   
        +item("Strona Główna", "/") 
        +item("Aktualności", "/news") 
        +item("Quiz", "/quiz") 
        +item("admin panel", "/admin") 
      .hero
        block content
